{{!< LAYOUT}}

<div class="col-md-12">
    <h1>{{title}}</h1>    
    <img alt="Example Image" src="{{data.heroimage}}" class="img-responsive" />
    <br />
    <p>
        {{data.description}}
    </p>
    <h3>GitHub</h3>
    <p>
        <a href="{{data.githuburl}}" target="_blank" data-popup="true">{{data.githuburl}}</a>
    </p>
    <h4>How to install</h4>
    <p>
        <blockquote>
             {{data.howtoinstall}}     
        </blockquote>
    </p>
    
</div>


