extends layout

block content
  style(type='text/css').
    #map-canvas { height: 300px; width: 425px; }
    .list-group-item:first-child { background-color: #55ACEE; color: white; }
    .list-group-item:first-child:hover { background-color: #55ACEE; color: white; }
    .list-group-item:first-child a { color: white; }
    .list-group-item:hover { background-color: #f5f5f5; }
    #addressWell { margin: 15px; }
  .col-md-8
    .jumbotron
      img(src='images/jaxnode.png', class='img-responsive', alt='Jax Node Logo')
      h1 Welcome to the #{title}
      p The Jax Node.js User Group is for anyone interested in learning more about Node.js.
        | Node allows us to write javascript on the server, desktop and even robots that is highly scalable and fast.
        | Node.js is based on the V8 javascript engine in the Chrome browser.
      a(class='btn btn-primary', href='http://www.meetup.com/Jax-Node-js-UG') Join our Meetup
      br
    if (meeting)
      div.panel.panel-default
        div.panel-heading
          h3 Next meeting:&nbsp;
            strong= meeting.name
            // moment(meetingArray[0].time).subtract('hours', 4).format('lll')
          div= meeting.time
          a(class='mu-rsvp-btn', href='#{meeting.event_url}', data-event='#{meeting.id}')
            img(src='images/rsvp_btn.png', alt='RSVP')
        div.panel-body
          div !{meeting.description}
          if (meeting.venue && meeting.venue.name)
            #map-canvas.pull-left
            div#addressWell.well.well-lg.pull-left= meeting.venue.name
              br
              if (meeting.venue && meeting.venue.address_1)
                = meeting.venue.address_1
                br
              if (meeting.venue && meeting.venue.city)
                = meeting.venue.city
              if (meeting.venue && meeting.venue.state)
                = ', ' + meeting.venue.state
              if (meeting.venue && meeting.venue.zip)
                = ' ' + meeting.venue.zip
      br
      small
  .col-md-4
    ul.list-group
      li.list-group-item
          img(src='/images/Twitter_logo_white_sm.png')
          a(href='https://twitter.com/jaxnode', alt='JaxNode on Twitter') @Jaxnode
          |  on Twitter
        each tweet in tweets
          li.list-group-item
            span.list-group-item-text !{tweet.text}

block append scripts
    if (meeting && meeting.venue && meeting.venue.lat && meeting.venue.lon)
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBV9EuRsK_Eg7rzF-zA4ARVrNyPsfKOV_s&sensor=false')
      script.
        function initialize() {
            var myLatlng = new google.maps.LatLng(#{meeting.venue.lat}, #{meeting.venue.lon});
            var mapOptions = {
            center: myLatlng,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"#{meeting.venue.name}"
          });
          var infowindow = new google.maps.InfoWindow({
            content: '<div>#{meeting.venue.name}</div>'
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        }
        google.maps.event.addDomListener(window, 'load', initialize);